@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu&display=swap');
*{
    font-family: 'Noto Nastaliq Urdu', serif;
}
.newsPost__Content{
    padding: 4px 10px;
}
.newsPost__Content p{
    text-align: right !important;
    line-height: 2.5;
    font-size: 17px;
}
.newsPost__Content li{
    text-align: right !important;
    line-height: 2.5;
    font-size: 17px;
}
.newsPost__Content figure{
    /* background-color: aqua; */
    padding: 10px 0px 10px 10px;
    display: flex;
    justify-content: flex-end;
}
.newsPost__Content a{
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(2, 68, 192);
    font-weight: 600;
}
.newsPost__Content img{
    max-height: 440px;
    max-width: 98%;
}
.newsPost__Content h1{
    font-size: 34px;
    font-weight: 700;
}
.newsPost__Content h2{
    font-size: 28px;
    font-weight: 600;
}
.newsPost__Content h3{
    font-size: 24px;
    font-weight: 500;
}
.newsPost__Content h4{
    font-size: 20px;
    font-weight: 500;
}
.text-shadow{
    text-shadow: 1px 1px 2px #000000;
}
@tailwind base;
@tailwind components;
.back-button{
    @apply bg-[#0F3460] shadow px-4 pb-3 pt-1 rounded font-thin text-white hover:bg-[#16213E] active:bg-[#533483]
}
.section__Heading{
    @apply text-right text-lg font-semibold pb-[14px] pt-1 rounded-[2px] shadow text-white bg-slate-800 pr-2 mt-4 lg:mt-0
}
@tailwind utilities;